$font-stack: "Open Sans", sans-serif;
$s-b: space-between;
$s-a: space-around;
$x-color-black: #212121;
$x-color-green: #00897b;
$x-color-white: #ffffff;

$palette-primary: $x-color-black;
$palette-secondary: $x-color-green;
$palette-trending: $x-color-white;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    font-size: 16px;
    overflow: scroll;

}

html, body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.head{
    background-color: $palette-trending;
    display: flex;
    justify-content: $s-b;
    padding: 40px 60px;
}

.logo{
    font-size: 2vw;
    display: flex;
    font-family: $font-stack;
    line-height: 22px;
    color: $palette-primary;
    font-weight: 700;
    align-items: center;
}

.menu{
    display: flex;
    justify-content: $s-b;
    cursor: pointer;

    &__button{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-family: $font-stack;
        font-size: 1.5vw;
        letter-spacing: 1px;
        color: $palette-primary;
        font-weight: 600;
        margin-left: 25px;
    }

    &__search-icon{
        width: 20px;
        height: 20px;
        margin-right: 10px;
        order: -1;
    }
}

.preview-block{
    display: flex;
    place-content: center;
    flex-direction: row;
    background-image: url('../img/1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    justify-content: center;

    &__col{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    &__image{
        position: relative;
        width: 100%;
        place-content: center;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    &__title{
        width: 100%;
        align-content: center;
        color: $palette-trending;
        font-family: $font-stack;
        font-size: 5vw;
        text-align: center;
    }

    &__description{
       width: 100%;
       color: $palette-trending;
       font-family: $font-stack;
       font-size: 2vw;
       text-align: center;
    }

    &-buttons{
        display: flex;
        justify-content: center;

        &__btn_green{
            background: $palette-secondary;
            color: $palette-trending;
            font-size: 2vw;
            text-transform: uppercase;
            padding: 30px 40px;
            cursor: pointer;
            border: 3px solid $palette-secondary;
            margin: 20px;

            &:hover{
                background: rgb(160, 209, 203);
                border: 3px solid rgb(160, 209, 203);
            }
        }

        &__btn_white{
            background: transparent;
            color: $palette-trending;
            font-size: 2vw;
            text-transform: uppercase;
            padding: 30px 20px;
            cursor: pointer;
            margin: 20px;
        }
    }

}

/*блок 2*/

.description-block{
    display: flex;

    &_heading{
        line-height: 22px;
        display: flex;
        justify-content: center;
        margin-top: 11%;
        color: $palette-primary;
        font-weight: bold;
        font-family: $font-stack;
        font-size: 2.5vw;
    }

    &_text{
        line-height: 2vw;
        align-content: center;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 3%;
        color: black;
        font-family: $font-stack;
        font-size: 1.5vw;
    }
  
    &_image{
        background-color: $palette-trending;
        display: flex;
        justify-content: $s-a;
        padding: 40px 60px;
    }
  
    &__icon{
        width: 6vw;
        height: 6vw;
        display: flex;
    }
}