$font-stack: "Open Sans", sans-serif;
$s-b: space-between;
$s-a: space-around;
$s-e: space-evenly;
$x-color-black: #212121;
$x-color-green: #00897b;
$x-color-white: #ffffff;

$palette-primary: $x-color-black;
$palette-secondary: $x-color-green;
$palette-trending: $x-color-white;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    font-size: 16px;
    overflow: scroll;

}

html, body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

/*шапка*/

.head{
    background-color: $palette-trending;
    display: flex;
    justify-content: $s-b;
    padding: 40px 60px;
}

.logo{
    font-size: 2vw;
    display: flex;
    font-family: $font-stack;
    line-height: 22px;
    color: $palette-primary;
    font-weight: 700;
    align-items: center;
}

.menu{
    display: flex;
    justify-content: $s-b;
    cursor: pointer;
    &__search-icon{
        width: 20px;
        height: 20px;
        margin-right: 10px;
        order: -1;
    }
}

.menuButton{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    font-family: $font-stack;
    font-size: 1.5vw;
    letter-spacing: 1px;
    color: $palette-primary;
    font-weight: 600;
    margin-left: 25px;
    }

/*первый блок*/

.preview-block{
    display: flex;
    place-content: center;
    flex-direction: row;
    background-image: url('../img/1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    justify-content: center;

    &__col{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    &__image{
        position: relative;
        width: 100%;
        place-content: center;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    &__title{
        width: 100%;
        align-content: center;
        color: $palette-trending;
        font-family: $font-stack;
        font-size: 5vw;
        text-align: center;
    }

    &__description{
       width: 100%;
       color: $palette-trending;
       font-family: $font-stack;
       font-size: 2vw;
       text-align: center;
    }

    &-buttons{
        display: flex;
        justify-content: center;

        &__btn_green{
            background: $palette-secondary;
            color: $palette-trending;
            font-size: 2vw;
            text-transform: uppercase;
            padding: 30px 40px;
            cursor: pointer;
            border: 3px solid $palette-secondary;
            margin: 20px;

            &:hover{
                background: rgb(160, 209, 203);
                border: 3px solid rgb(160, 209, 203);
            }
        }

        &__btn_white{
            background: transparent;
            color: $palette-trending;
            font-size: 2vw;
            text-transform: uppercase;
            padding: 30px 20px;
            cursor: pointer;
            margin: 20px;
        }
    }
}

/*второй блок*/

.description-block{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: $s-e;
    flex-direction: column;

    &_heading{
        line-height: 22px;
        display: flex;
        justify-content: center;
        color: $palette-primary;
        font-weight: bold;
        font-family: $font-stack;
        font-size: 2.5vw;
    }

    &_text{
        line-height: 2vw;
        align-content: center;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 3%;
        color: $palette-primary;
        font-family: $font-stack;
        font-size: 1.5vw;
    }
  
    &_information{
        display: flex;
        justify-content: $s-e;
        text-align: center;
    }
  
    &__content{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    &_icon{
        display: flex;
        margin: auto;
        width: 5vw;
        height: 5vw;
    }

    &_information-heading{
        display: flex;
        justify-content: $s-e;
        padding-top: 15%;
        font-family: $font-stack;
        font-size: 1.8vw;
    }

    &_information-text{
        display: flex;
        justify-content: $s-e;
        font-family: $font-stack;
        font-size: 1.5vw;
        margin-top: 10%;
    }
}



/*третий блок*/

.services-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #e4fdf9;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
  
    &__title{
        padding-bottom: 80px;
  
        &-heading {
            line-height: 22px;
            display: flex;
            justify-content: center;
            margin-top: 11%;
            color: #212121;
            font-weight: bold;
            font-family: "Open Sans", sans-serif;
            font-size: 2.5vw;
        }
        &-text {
            align-content: center;
            text-align: center;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 3%;
            color: #212121;
            font-family: "Open Sans", sans-serif;
            font-size: 1.5vw;
        }
    }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;

    &-row {
        justify-content: space-around;
        display: flex;
    }
    &-info {
        width: 450px;
        font-size: 19px;
        margin: 20px 70px 20px;
        padding: 50px 40px 0px 40px;
        background-color: $palette-trending;
        flex-direction: column;
        display: flex;
        text-align: center;

            &-text{
                margin-top: 25px;
            }

            &-icon{
                display: flex;
                width: 70px;
                height: 70px;
                margin: auto;
            }

            &-btn{
                display: flex;
                justify-content: center;
                background: transparent;
                font-size: 20px;
                text-transform: uppercase;
                padding: 20px;
                cursor: pointer;
                border: 3px solid $palette-primary;
                margin: 70px;
              }

            &:hover{
                background: $palette-secondary;
                color: $palette-trending;
                box-shadow: 5px 10px 10px $palette-primary;

            }

            &:hover &-icon{
                filter: invert(1);
            }

            &:hover &-btn{
                filter: invert(1);
            }
        }
    }
}

/*четвёртый блок*/

.team-block {
    width: 100%;
    display: flex;
    justify-content: $s-b;
    flex-direction: column;
    font-family: $font-stack;

    &__title {
        padding: 80px;
        
        &-heading {
            margin-top: 4%;
            line-height: 22px;
            display: flex;
            justify-content: center;
            color: $palette-primary;
            font-weight: bold;
            font-family: $font-stack;
            font-size: 2.5vw; 
        }

        &-text {
            line-height: 2.5vw;
            align-content: center;
            text-align: center;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 3%;
            color: $palette-primary;
            font-family: $font-stack;
            font-size: 1.5vw; 
        }
    }

    &__information {
        display: flex;
        justify-content: $s-e;
        text-align: center; 
    }

    &__content {
        display: flex;
        justify-content: center;
        flex-direction: column; 
    }

    &__photo {
        display: flex;
        margin: auto;
        width: 25vw;
        height: 23vw;
        border-radius: 10px; 
    }
    &__information-name {
        display: flex;
        justify-content: $s-e;
        padding-top: 15%;
        font-family: $font-stack;
        font-size: 1.8vw;
    }
        
    &__information-position {
        display: flex;
        justify-content: $s-e;
        font-family: $font-stack;
        font-size: 1.5vw;
    }
    
    &__icon {
        justify-content: $s-e;
        display: flex;
        padding: 20px;
        
        &-network{
            width: 55px;
            height: 55px;
            display: flex;
            padding: 12px;
            border-radius: 11px;
            justify-content: $s-e;
            background-color: $palette-trending;

            &:hover{
                filter: invert(20%);
                cursor: pointer;
            }
        }
    }

    &__circle {
        display: flex;
        justify-content: center;
        padding: 70px; 

        &-point {
            margin: 6px;
            background: $palette-secondary;
            border-radius: 50%;
            height: 15px;
            width: 15px;

            &:hover {
                cursor: pointer;
                background: #3949ab; 
            }
        }
    }
}
/*пятый блок*/

.contact-block {
    width: 100%;
    display: flex;
    justify-content: $s-b;
    flex-direction: column;
    font-family: $font-stack;
    background-image: url("img/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__title{
        padding: 80px;
        
        &-heading{
            margin-top: 30px;
            line-height: 22px;
            display: flex;
            justify-content: center;
            color: $palette-trending;
            font-weight: bold;
            font-family: $font-stack;
            font-size: 2.5vw;
        }

        &-text{
            line-height: 2.5vw;
            align-content: center;
            text-align: center;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 80px;
            color: $palette-trending;
            font-family: $font-stack;
            font-size: 1.5vw;
        }
    }
    &__information{
      display: flex;
      justify-content: $s-e;
      text-align: center;
          
        &-icon {
            display: flex;
        }
            
            &-connection{
                flex-direction: column;
                display: flex;
                padding: 60px;
            }
            
            &-network{
                margin: auto;
                width: 120px;
                display: flex;
                padding: 31px;
                border-radius: 65px;
                justify-content: center;
                background-color: #3949ab;
                height: 120px;
            }

            &-text{
                display: flex;
                font-family: $font-stack;
                font-size: 1.5vw;
                margin-top: 35px;
                color: $palette-trending;
                text-align: center;
            }
        }
        
    &__data{
        display: flex;
        justify-content: $s-e;
        padding: 60px;
        text-align: center; 
    }

    &__form{
        display: flex;
        margin-left: 125px;
        flex-wrap: wrap;

        &-user{
            display: flex;
            padding: 35px;
            width: 40vw;
            height: 6vw;
            border-radius: 10px;
            background-color: $palette-trending;
            font-size: 1.5vw;
            letter-spacing: 1px;
            line-height: 28px;
            color: #212121;
            font-weight: 600;
            font-family: $font-stack;
            margin: 18px;
        }
    }

    &__message{
        display: flex;
        justify-content: $s-e;
        text-align: center;
    }

    &__questions{
        display: flex;
            
        &-user{
            padding-left: 17px;
            padding-top: 16px;
            width: 82vw;
            height: 20vw;
            border-radius: 10px;
            background-color: $palette-trending;
            font-size: 1.5vw;
            letter-spacing: 1px;
            line-height: 28px;
            color: #212121;
            font-weight: 600;
            font-family: $font-stack;
        }
    }

    &__comment{
        margin-right: 5.7vw;
        display: flex;
        justify-content: end;
    }

    &__send{
        border-radius: 1vw;
        background: $palette-trending;
        color: #000000;
        font-size: 2vw;
        font-weight: 700;
        font-family: $font-stack;
        text-align: center;
        text-transform: uppercase;
        padding: 1vw 6vw;
        cursor: pointer;
        margin: 2vw;
    }

    &__footer{
        display: flex;
        padding: 1vw;
        justify-content: center;
        background-color: $palette-trending;
        text-align: center;
        font-size: 2vw;
        letter-spacing: 1px;
        line-height: 22px;
        color: #212121;
        font-weight: 700;
        font-family: $font-stack;
    }
}



.error {
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;

  &.active {
    padding: 0.3em;
  }
}

  input:invalid{
    border-color: #900;
    background-color: #FDD;
  }
  
  input:focus:invalid {
    outline: none;
  }